/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-grf-gutenberg-adchitects-slider .ads {
	&__title {
		padding: 1rem;
		background-color: rgba(255, 255, 255, 0.7);
		margin-bottom: 0 !important;
	}
	&__description {
		font-family: Arial, Helvetica, sans-serif;
		padding: 1rem;
		background-color: rgba(255, 255, 255, 0.7);
		margin: 0;
	}
	&__index {
		line-height: 2rem;
		font-weight: 700;
		color: #fff;
		display: table-cell;
		text-align: center;
		min-width: 60px;
		height: 30px;
		background: #00a7e5;
		right: 0;
		position: absolute;
		padding: 0 1rem;
		z-index: 10;
	}
}

.slider-counter {
	display: block;
	color: #fff;
	background: #00a7e5;
	top: 0;
	right: 0;
	position: absolute;
	padding: 0.25rem 0.75rem;
}
