/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

@font-face {
	font-family: "Eczar";
	src: url(font/Eczar-Regular.ttf) format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Eczar";
	src: url(font/Eczar-Bold.ttf) format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Work Sans";
	src: url(font/WorkSans-Regular.ttf) format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Work Sans";
	src: url(font/WorkSans-Bold.ttf) format("truetype");
	font-weight: bold;
	font-style: normal;
}
.carousel-controls {
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 15;
}

.carousel-indicators {
	right: auto;
	margin: 0 !important;
	li {
		font-weight: bold;
		list-style: none;
		text-align: center;
		font-family: "Work Sans", Arial, Helvetica, sans-serif;
		font-size: 1rem;
		border: 2px solid white;
		opacity: 1;
		background: transparent;
		text-indent: 0;
		margin: 0 2px;
		width: 15px;
		height: 15px;
		border-radius: 100%;
		line-height: 15px;
		color: #fff;
		transition: all 0.25s ease;
		margin: 0 1rem !important;
		&.active,
		&:hover {
			margin: 0 2px;
			width: 15px;
			height: 15px;
			color: black;
			background-color: white;
		}
	}
}

.carousel-control-next,
.carousel-control-prev {
	top: auto;
	width: 70px;
	opacity: 1 !important;
}

.carousel-control-prev-icon {
	background-image: url(img/arrow.svg);
	width: 50px;
}

.carousel-control-next-icon {
	background-image: url(img/arrow.svg);
	width: 50px;
	transform: rotate(180deg);
}

.carousel-caption {
	text-align: left;
	bottom: 25%;
	left: 5%;
	h5 {
		font-family: Eczar, Arial, Helvetica, sans-serif;
	}
	p {
		font-family: "Work Sans", Arial, Helvetica, sans-serif !important;
		font-size: 0.6em;
	}
}
